<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>로그인페이지</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="container">
    <div class="login__form">
        <!--로그인 인풋-->
        <form class="login__input" action = "/signin" method="post" >
            <input type="text" name="username" placeholder="아이디" required="required" />
            <input type="password" name="password" placeholder="비밀번호" required="required" />
            <button>로그인</button>
        </form>
        <!--로그인 인풋end-->
    </div>
</div>

<!--아이디가 없으신가요?-->
<div class="login__register">
    <span>계정이 있으신가요?</span>
    <a href="/signup">회원가입</a>
</div>
<!--아이디가 없으신가요?end-->

</body>
</html>