<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원가입페이지</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light" >
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto"></ul>
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/}" href="#">home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/shop}" href="#">shop</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Sign Up</a>
                </li>

            </ul>

        </div>
    </div>
</nav>

<div class="container">
    <!--회원가입 폼-->
    <div class="login__form">
    <!--회원가입 인풋-->
        <h3 style="margin-top: 10px">Sign Up Now</h3>
        <p>Please fill out this to register</p>
        <form class="login__input" action="/signup" method="post">
            <input type="text" name="username" placeholder="아이디" required="required" maxlength="20" />
            <input type="password" name="password" placeholder="패스워드" required="required"  />
            <input type="email" name="email" placeholder="이메일" required="required"  />
    <!--    <input type="text" name="name" placeholder="이름" required="required"  />-->
            <button>가입</button>
        </form>
    <!--회원가입 인풋end-->
    </div>

<!--계정이 있으신가요?-->
    <div class="login__register">
    <span>계정이 있으신가요?</span>
    <a href="/signin">로그인</a>
    </div>
<!--계정이 있으신가요?end-->
</div>
</body>
</html>